* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  height: 40px;
  margin: 20px;
  width: 95vw;
  margin-left: 25px;
}
.fas {
  width: 50px;
}
.fa-bars {
  color: #606060;
}

.y-logo {
  width: 80px;
  height: 20px;
}
.avatar {
  width: 50px;
  border-radius: 30px;
}
.video {
  margin-top: 100px;
}
